# =============================================================================
# Armiga — genimage.cfg
# Layout de la imagen SD para Anbernic RG40XX H
#
# Particiones:
#   raw    : U-Boot SPL (offset 8K, escrito por post-image.sh con dd)
#   p1     : boot  — FAT32  64MB  — Image, dtb.img, extlinux/
#   p2     : system — ext4  1100MB — Rootfs Buildroot
#   p3     : kickstarts — ext2 250MB — reformateado a exFAT por post-image.sh
#   p4     : roms  — ext2  16MB  — reformateado a exFAT, autoexpandido en 1er boot
# =============================================================================
image boot.vfat {
	vfat {
		file "Image" {
			image = "Image"
		}
		file "dtb.img" {
			image = "dtb.img"
		}
		file "extlinux/extlinux.conf" {
			image = "extlinux.conf"
		}
	}
	size = 64M
}
image kickstarts.ext2 {
	empty = true
	ext2 {
		label = "kickstarts"
	}
	size = 250M
}
image roms.ext2 {
	empty = true
	ext2 {
		label = "roms"
	}
	size = 16M
}
image sdcard.img {
	hdimage {
		gpt = false
	}
	partition boot {
		image = "boot.vfat"
		partition-type = 0xc
		offset = 2M
		bootable = true
	}
	partition system {
		image = "rootfs.ext4"
		partition-type = 0x83
	}
	partition kickstarts {
		image = "kickstarts.ext2"
		partition-type = 0x83
	}
	partition roms {
		image = "roms.ext2"
		partition-type = 0x83
	}
}
