# =============================================================================
# Armiga — genimage.cfg
# Layout de la imagen SD para Anbernic RG40XX H
# =============================================================================
image boot.vfat {
	vfat {
		label = "boot"
		file "Image" {
			image = "Image"
		}
		file "dtb.img" {
			image = "dtb.img"
		}
		file "extlinux/extlinux.conf" {
			image = "extlinux.conf"
		}
	}
	size = 64M
}
image kickstarts.ext2 {
	empty = true
	ext2 {
		label = "kickstarts"
	}
	size = 250M
}
image roms.ext2 {
	empty = true
	ext2 {
		label = "roms"
	}
	size = 16M
}
image sdcard.img {
	hdimage {
		gpt = false
	}
	partition boot {
		image = "boot.vfat"
		partition-type = 0xc
		offset = 2M
		bootable = true
	}
	partition system {
		image = "rootfs.ext4"
		partition-type = 0x83
	}
	partition kickstarts {
		image = "kickstarts.ext2"
		partition-type = 0x83
	}
	partition roms {
		image = "roms.ext2"
		partition-type = 0x83
	}
}
