# armiga.cfg — Parámetros fijos de Armiga (no sobreescribible por RetroArch)
audio_driver = "alsathread"
audio_out_rate = "44100"
video_driver = "gl"
video_threaded = "true"
menu_driver = "ozone"
input_volume_up = "volumeup"
input_volume_down = "volumedown"
ozone_menu_color_theme = "13"
menu_scale_factor = "1.180000"
ozone_font = "~/.config/retroarch/assets/ozone/bold.ttf"
ozone_font_scale_factor_global = "1.300000"
